body{
    background-image: linear-gradient(to bottom,rgb(6, 6, 145),rgb(9, 9, 189),blue);
    min-height: 100vh;
   
    }
.title{
text-align: center;
font-size: 30px;
color: black;
margin-top: 40px;
margin-bottom: 40px;
border-bottom: 1px solid black;
padding-bottom: 40px;
}

#game{
     display: flex;
    justify-content: center;
    align-items: center;
    }

#game-col{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.gameStart{
    color: black;
    text-align: center;
    font-size: 70px;
}

#ruleBox{
    display: none;
    font-size: 20px;
    border:1px solid black;
    text-align: center;
    background-color: antiquewhite;
    padding-top: 30px;
    padding-bottom: 30px;
        
}
.ruleButton{
    text-align: center;
    border-top: 1px solid black;
}
.rules{
    background-color: rgb(206, 206, 244);
    font-size: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.showSaved{
    display: none;
    font-size: 25px;
    background-color: antiquewhite;
}

.startButton{
     background-color: transparent;
}
.startingPoint{
    text-align: center;
    display: none;
}


rect{
    cursor: pointer;
     transition: filter 0.3s ease;
}
@media (max-width: 600px) {
    svg {
        width: 100px;  /* Change size on smaller screens */
        height: 100px;
    }
    rect {
        width: 100px;  /* Change size on smaller screens */
        height: 100px;
    }

    .gameStart{
        font-size: 35px;
    }


}
